# Projeto de Análise de Dados: Tendências de Compras do Cliente

## Introdução

Link para o [download do dataset](https://www.kaggle.com/datasets/iamsouravbanerjee/customer-shopping-trends-dataset) utilizado para a construção desse projeto

**Atributos**:

* Customer ID - identificador exclusivo para cada cliente;
* Age - Idade do cliente;
* Gender - Gênero do cliente (Masculino/Feminino);
* Item Purchased - O item comprado pelo cliente;
* Category - Categoria do item adquirido;
* Purchase Amount (USD) - O valor da compra em USD;
* Location - Local onde a compra foi realizada;
* Size - Tamanho do item adquirido;
* Color - Cor do item adquirido;
* Season - Temporada durante a qual a compra foi feita;
* Review Rating - Classificação dada pelo cliente para o item comprado;
* Subscription Status - Indica se o cliente possui uma assinatura (Sim/Não);
* Shipping Type - Tipo de envio escolhido pelo cliente;
* Discount Applied -  Indica se foi aplicado desconto na compra (Sim/Não);
* Promo Code Used -  Indica se um código promocional foi usado para a compra(Sim/Não);
* Previous Purchases - A contagem total de transações concluídas pelo cliente na loja, excluindo a transação em andamento;
* Payment Method - método de pagamento preferido do cliente;
* Frequency of Purchases -  Frequência com que o cliente realiza compras (ex: Semanal, Quinzenal, Mensal).

## Pré-Processamento

1. Bibliotecas que serão utilizadas:

In [4]:
import pandas as pd
import streamlit as st
import plotly.express as px

2. Leitura do dataset:

In [5]:
dataset = "C:\\Users\\Nando\OneDrive\Documentos\Datasets/shopping_trends.csv"

In [6]:
df = pd.read_csv(dataset)

df

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Credit Card,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Bank Transfer,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,PayPal,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,Cash,2-Day Shipping,No,No,32,Venmo,Weekly
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,PayPal,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Credit Card,Standard,No,No,24,Venmo,Quarterly
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,PayPal,Express,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Bank Transfer,Store Pickup,No,No,33,Venmo,Quarterly

3. Verificando a estrutura:

4. Verificando valores faltantes:

5. Verificando duplicatas:

6. Alterando o nome das colunas:

7. Alterando o nome dos valores categóricos:

In [12]:
print(f'Verificando valores faltantes : \n\n{df.isna().sum()}')

Verificando valores faltantes :

Customer ID                 0
Age                         0
Gender                      0
Item Purchased              0
Category                    0
Purchase Amount (USD)       0
Location                    0
Size                        0
Color                       0
Season                      0
Review Rating               0
Subscription Status         0
Payment Method              0
Shipping Type               0
Discount Applied            0
Promo Code Used             0
Previous Purchases          0
Preferred Payment Method    0
Frequency of Purchases      0
dtype: int64

In [13]:
print(f'Verificando valores duplicados: \n\n{df.duplicated()}')

Verificando valores duplicados:

0       False
1       False
2       False
3       False
4       False
        ...
3895    False
3896    False
3897    False
3898    False
3899    False
Length: 3900, dtype: bool

In [14]:
df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3900.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.749949,25.351538
std,1125.977353,15.207589,23.685392,0.716223,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.700000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [15]:
# Verificar número de valores únicos em cada coluna
df.nunique()

Customer ID                 3900
Age                           53
Gender                         2
Item Purchased                25
Category                       4
Purchase Amount (USD)         81
Location                      50
Size                           4
Color                         25
Season                         4
Review Rating                 26
Subscription Status            2
Payment Method                 6
Shipping Type                  6
Discount Applied               2
Promo Code Used                2
Previous Purchases            50
Preferred Payment Method       6
Frequency of Purchases         7
dtype: int64

In [16]:
df['Gender']

0         Male
1         Male
2         Male
3         Male
4         Male
         ...
3895    Female
3896    Female
3897    Female
3898    Female
3899    Female
Name: Gender, Length: 3900, dtype: object